# Dépendances (ignore dans tous les sous-dossiers)
node_modules/

# Compilations (ignore dans tous les sous-dossiers)
dist/
.next/
out/
build/
coverage/
.nyc_output/

# Logs et fichiers temporaires
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.temp/
.tmp/
tsconfig.build.tsbuildinfo

# Fichiers de configuration locale (Sécurité)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs (VS Code, WebStorm, etc.)
.idea/
.project
.classpath
.settings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Système
.DS_Store
Thumbs.db