-- CreateEnum
CREATE TYPE "StatutCours" AS ENUM ('BROUILLON', 'PUBLIE', 'ARCHIVE');

-- CreateEnum
CREATE TYPE "StatutSimulation" AS ENUM ('BROUILLON', 'PUBLIE');

-- CreateEnum
CREATE TYPE "TypeRessource" AS ENUM ('PDF', 'VIDEO', 'SLIDE', 'DATASET', 'LIEN_EXTERNE', 'EXERCICE', 'AUTRE');

-- CreateEnum
CREATE TYPE "Statut" AS ENUM ('ACTIF', 'INACTIF', 'BANNI');

-- CreateEnum
CREATE TYPE "Niveau" AS ENUM ('DEBUTANT', 'INTERMEDIAIRE', 'AVANCE');

-- CreateEnum
CREATE TYPE "TypeRendezVous" AS ENUM ('ORIENTATION', 'COACHING_TECHNIQUE', 'PREPARATION_EXAMEN', 'BILAN_CARRIERE');

-- CreateEnum
CREATE TYPE "StatutRendezVous" AS ENUM ('CONFIRME', 'ANNULE', 'TERMINE');

-- CreateTable
CREATE TABLE "utilisateurs" (
    "id" BIGSERIAL NOT NULL,
    "prenom" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "telephone" TEXT,
    "motDePasse" TEXT NOT NULL,
    "statut" "Statut" NOT NULL DEFAULT 'ACTIF',
    "preferences" JSONB NOT NULL DEFAULT '{}',
    "avatar" TEXT,
    "bio" TEXT,
    "dateInscription" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(3),

    CONSTRAINT "utilisateurs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "roles" (
    "id" BIGSERIAL NOT NULL,
    "nom" TEXT NOT NULL,

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fournisseurs" (
    "id" BIGSERIAL NOT NULL,
    "nom" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "image" TEXT,

    CONSTRAINT "fournisseurs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "certifications" (
    "id" BIGSERIAL NOT NULL,
    "nom" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "codeExamen" TEXT,
    "description" TEXT NOT NULL,
    "niveau" "Niveau" NOT NULL,
    "dureeIndicative" TEXT,
    "objectifs" TEXT[],
    "prerequis" TEXT[],
    "image" TEXT,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(3),
    "fournisseurId" BIGINT NOT NULL,

    CONSTRAINT "certifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cours" (
    "id" BIGSERIAL NOT NULL,
    "titre" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "statut" "StatutCours" NOT NULL DEFAULT 'BROUILLON',
    "imageUrl" TEXT,
    "videoUrl" TEXT,
    "objectifs" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "prerequis" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "publicCible" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "dureeEstimee" INTEGER,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "datePublication" TIMESTAMP(3),
    "deleted_at" TIMESTAMP(3),
    "formateur_id" BIGINT NOT NULL,
    "certification_id" BIGINT,

    CONSTRAINT "cours_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "inscriptions_cours" (
    "id" BIGSERIAL NOT NULL,
    "progression" INTEGER NOT NULL DEFAULT 0,
    "date_inscription" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "date_fin" TIMESTAMP(3),
    "cours_id" BIGINT NOT NULL,
    "apprenant_id" BIGINT NOT NULL,

    CONSTRAINT "inscriptions_cours_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "progressions_modules" (
    "id" BIGSERIAL NOT NULL,
    "completed" BOOLEAN NOT NULL DEFAULT false,
    "dateCompletion" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "inscription_cours_id" BIGINT NOT NULL,
    "module_id" BIGINT NOT NULL,

    CONSTRAINT "progressions_modules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "modules" (
    "id" BIGSERIAL NOT NULL,
    "titre" TEXT NOT NULL,
    "description" TEXT,
    "contenu" TEXT,
    "ordre" INTEGER NOT NULL DEFAULT 0,
    "dureeEstimee" INTEGER DEFAULT 30,
    "imageUrl" TEXT,
    "videoUrl" TEXT,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "cours_id" BIGINT NOT NULL,

    CONSTRAINT "modules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ressources" (
    "id" BIGSERIAL NOT NULL,
    "titre" TEXT NOT NULL,
    "description" TEXT,
    "type" "TypeRessource" NOT NULL,
    "url" TEXT NOT NULL,
    "taille" INTEGER,
    "version" TEXT NOT NULL DEFAULT '1.0.0',
    "quotaTelechargement" INTEGER DEFAULT 10,
    "public" BOOLEAN NOT NULL DEFAULT false,
    "ordre" INTEGER NOT NULL DEFAULT 0,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(3),
    "module_id" BIGINT,
    "cours_id" BIGINT,
    "certification_id" BIGINT,

    CONSTRAINT "ressources_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "telechargements" (
    "id" BIGSERIAL NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip" TEXT,
    "ressourceId" BIGINT NOT NULL,
    "utilisateurId" BIGINT NOT NULL,

    CONSTRAINT "telechargements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "questions" (
    "id" BIGSERIAL NOT NULL,
    "enonce" TEXT NOT NULL,
    "explication" TEXT,
    "reponseCorrecte" TEXT,
    "grilleNotation" TEXT,
    "categorie" TEXT,
    "type" TEXT NOT NULL DEFAULT 'QCM',
    "difficulte" INTEGER NOT NULL DEFAULT 1,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "certification_id" BIGINT NOT NULL,
    "simulation_id" BIGINT,

    CONSTRAINT "questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "options" (
    "id" BIGSERIAL NOT NULL,
    "lettre" TEXT NOT NULL,
    "texte" TEXT NOT NULL,
    "questionId" BIGINT NOT NULL,

    CONSTRAINT "options_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "simulations" (
    "id" BIGSERIAL NOT NULL,
    "titre" TEXT NOT NULL,
    "description" TEXT,
    "duree" INTEGER NOT NULL DEFAULT 60,
    "scoreMinimal" INTEGER NOT NULL DEFAULT 700,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "statut" "StatutSimulation" NOT NULL DEFAULT 'BROUILLON',
    "cours_id" BIGINT,
    "certification_id" BIGINT NOT NULL,

    CONSTRAINT "simulations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tentatives" (
    "id" BIGSERIAL NOT NULL,
    "score" INTEGER NOT NULL,
    "dureePassage" INTEGER,
    "datePassage" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "utilisateur_id" BIGINT NOT NULL,
    "simulation_id" BIGINT NOT NULL,

    CONSTRAINT "tentatives_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sujets" (
    "id" BIGSERIAL NOT NULL,
    "titre" TEXT NOT NULL,
    "contenu" TEXT NOT NULL,
    "theme" TEXT NOT NULL,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(3),
    "auteurId" BIGINT NOT NULL,
    "certificationId" BIGINT,

    CONSTRAINT "sujets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "commentaires" (
    "id" BIGSERIAL NOT NULL,
    "contenu" TEXT NOT NULL,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(3),
    "parent_commentaire_id" BIGINT,
    "sujetId" BIGINT NOT NULL,
    "auteurId" BIGINT NOT NULL,
    "mention_user_id" BIGINT,

    CONSTRAINT "commentaires_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "likes_sujets" (
    "id" BIGSERIAL NOT NULL,
    "dateLike" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sujetId" BIGINT NOT NULL,
    "utilisateurId" BIGINT NOT NULL,

    CONSTRAINT "likes_sujets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "likes_commentaires" (
    "id" BIGSERIAL NOT NULL,
    "dateLike" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "commentaire_id" BIGINT NOT NULL,
    "utilisateur_id" BIGINT NOT NULL,

    CONSTRAINT "likes_commentaires_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "signalements_sujets" (
    "id" BIGSERIAL NOT NULL,
    "motif" TEXT,
    "dateCreation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "traite" BOOLEAN NOT NULL DEFAULT false,
    "sujetId" BIGINT NOT NULL,
    "utilisateurId" BIGINT NOT NULL,

    CONSTRAINT "signalements_sujets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "signalements_commentaires" (
    "id" BIGSERIAL NOT NULL,
    "motif" TEXT,
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "traite" BOOLEAN NOT NULL DEFAULT false,
    "commentaire_id" BIGINT NOT NULL,
    "utilisateur_id" BIGINT NOT NULL,

    CONSTRAINT "signalements_commentaires_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" BIGSERIAL NOT NULL,
    "destinataire_id" BIGINT NOT NULL,
    "titre" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "lien" TEXT,
    "lue" BOOLEAN NOT NULL DEFAULT false,
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "creneaux_disponibilite" (
    "id" BIGSERIAL NOT NULL,
    "date_debut" TIMESTAMP(3) NOT NULL,
    "date_fin" TIMESTAMP(3) NOT NULL,
    "est_reserve" BOOLEAN NOT NULL DEFAULT false,
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "formateur_id" BIGINT NOT NULL,

    CONSTRAINT "creneaux_disponibilite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "rendez_vous" (
    "id" BIGSERIAL NOT NULL,
    "type" "TypeRendezVous" NOT NULL DEFAULT 'COACHING_TECHNIQUE',
    "motif" TEXT,
    "notes" TEXT,
    "statut" "StatutRendezVous" NOT NULL DEFAULT 'CONFIRME',
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "candidat_id" BIGINT NOT NULL,
    "formateur_id" BIGINT NOT NULL,
    "creneau_id" BIGINT NOT NULL,

    CONSTRAINT "rendez_vous_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_UtilisateurRoles" (
    "A" BIGINT NOT NULL,
    "B" BIGINT NOT NULL,

    CONSTRAINT "_UtilisateurRoles_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "utilisateurs_email_key" ON "utilisateurs"("email");

-- CreateIndex
CREATE UNIQUE INDEX "roles_nom_key" ON "roles"("nom");

-- CreateIndex
CREATE UNIQUE INDEX "fournisseurs_nom_key" ON "fournisseurs"("nom");

-- CreateIndex
CREATE UNIQUE INDEX "fournisseurs_slug_key" ON "fournisseurs"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "certifications_slug_key" ON "certifications"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "certifications_codeExamen_key" ON "certifications"("codeExamen");

-- CreateIndex
CREATE INDEX "certifications_fournisseurId_deleted_at_idx" ON "certifications"("fournisseurId", "deleted_at");

-- CreateIndex
CREATE UNIQUE INDEX "cours_slug_key" ON "cours"("slug");

-- CreateIndex
CREATE INDEX "cours_certification_id_statut_idx" ON "cours"("certification_id", "statut");

-- CreateIndex
CREATE INDEX "cours_formateur_id_statut_idx" ON "cours"("formateur_id", "statut");

-- CreateIndex
CREATE UNIQUE INDEX "inscriptions_cours_cours_id_apprenant_id_key" ON "inscriptions_cours"("cours_id", "apprenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "progressions_modules_inscription_cours_id_module_id_key" ON "progressions_modules"("inscription_cours_id", "module_id");

-- CreateIndex
CREATE INDEX "modules_cours_id_ordre_idx" ON "modules"("cours_id", "ordre");

-- CreateIndex
CREATE INDEX "ressources_module_id_idx" ON "ressources"("module_id");

-- CreateIndex
CREATE INDEX "ressources_cours_id_idx" ON "ressources"("cours_id");

-- CreateIndex
CREATE INDEX "ressources_certification_id_idx" ON "ressources"("certification_id");

-- CreateIndex
CREATE INDEX "tentatives_utilisateur_id_simulation_id_idx" ON "tentatives"("utilisateur_id", "simulation_id");

-- CreateIndex
CREATE INDEX "commentaires_sujetId_dateCreation_idx" ON "commentaires"("sujetId", "dateCreation");

-- CreateIndex
CREATE UNIQUE INDEX "likes_sujets_sujetId_utilisateurId_key" ON "likes_sujets"("sujetId", "utilisateurId");

-- CreateIndex
CREATE UNIQUE INDEX "likes_commentaires_commentaire_id_utilisateur_id_key" ON "likes_commentaires"("commentaire_id", "utilisateur_id");

-- CreateIndex
CREATE UNIQUE INDEX "signalements_sujets_sujetId_utilisateurId_key" ON "signalements_sujets"("sujetId", "utilisateurId");

-- CreateIndex
CREATE UNIQUE INDEX "signalements_commentaires_commentaire_id_utilisateur_id_key" ON "signalements_commentaires"("commentaire_id", "utilisateur_id");

-- CreateIndex
CREATE INDEX "notifications_destinataire_id_lue_idx" ON "notifications"("destinataire_id", "lue");

-- CreateIndex
CREATE INDEX "creneaux_disponibilite_formateur_id_est_reserve_idx" ON "creneaux_disponibilite"("formateur_id", "est_reserve");

-- CreateIndex
CREATE UNIQUE INDEX "rendez_vous_creneau_id_key" ON "rendez_vous"("creneau_id");

-- CreateIndex
CREATE INDEX "_UtilisateurRoles_B_index" ON "_UtilisateurRoles"("B");

-- AddForeignKey
ALTER TABLE "certifications" ADD CONSTRAINT "certifications_fournisseurId_fkey" FOREIGN KEY ("fournisseurId") REFERENCES "fournisseurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cours" ADD CONSTRAINT "cours_formateur_id_fkey" FOREIGN KEY ("formateur_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cours" ADD CONSTRAINT "cours_certification_id_fkey" FOREIGN KEY ("certification_id") REFERENCES "certifications"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inscriptions_cours" ADD CONSTRAINT "inscriptions_cours_cours_id_fkey" FOREIGN KEY ("cours_id") REFERENCES "cours"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "inscriptions_cours" ADD CONSTRAINT "inscriptions_cours_apprenant_id_fkey" FOREIGN KEY ("apprenant_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "progressions_modules" ADD CONSTRAINT "progressions_modules_inscription_cours_id_fkey" FOREIGN KEY ("inscription_cours_id") REFERENCES "inscriptions_cours"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "progressions_modules" ADD CONSTRAINT "progressions_modules_module_id_fkey" FOREIGN KEY ("module_id") REFERENCES "modules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "modules" ADD CONSTRAINT "modules_cours_id_fkey" FOREIGN KEY ("cours_id") REFERENCES "cours"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ressources" ADD CONSTRAINT "ressources_module_id_fkey" FOREIGN KEY ("module_id") REFERENCES "modules"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ressources" ADD CONSTRAINT "ressources_cours_id_fkey" FOREIGN KEY ("cours_id") REFERENCES "cours"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ressources" ADD CONSTRAINT "ressources_certification_id_fkey" FOREIGN KEY ("certification_id") REFERENCES "certifications"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "telechargements" ADD CONSTRAINT "telechargements_ressourceId_fkey" FOREIGN KEY ("ressourceId") REFERENCES "ressources"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "telechargements" ADD CONSTRAINT "telechargements_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_certification_id_fkey" FOREIGN KEY ("certification_id") REFERENCES "certifications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_simulation_id_fkey" FOREIGN KEY ("simulation_id") REFERENCES "simulations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "options" ADD CONSTRAINT "options_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "simulations" ADD CONSTRAINT "simulations_cours_id_fkey" FOREIGN KEY ("cours_id") REFERENCES "cours"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "simulations" ADD CONSTRAINT "simulations_certification_id_fkey" FOREIGN KEY ("certification_id") REFERENCES "certifications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tentatives" ADD CONSTRAINT "tentatives_utilisateur_id_fkey" FOREIGN KEY ("utilisateur_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tentatives" ADD CONSTRAINT "tentatives_simulation_id_fkey" FOREIGN KEY ("simulation_id") REFERENCES "simulations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sujets" ADD CONSTRAINT "sujets_auteurId_fkey" FOREIGN KEY ("auteurId") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sujets" ADD CONSTRAINT "sujets_certificationId_fkey" FOREIGN KEY ("certificationId") REFERENCES "certifications"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "commentaires" ADD CONSTRAINT "commentaires_parent_commentaire_id_fkey" FOREIGN KEY ("parent_commentaire_id") REFERENCES "commentaires"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "commentaires" ADD CONSTRAINT "commentaires_sujetId_fkey" FOREIGN KEY ("sujetId") REFERENCES "sujets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "commentaires" ADD CONSTRAINT "commentaires_auteurId_fkey" FOREIGN KEY ("auteurId") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "commentaires" ADD CONSTRAINT "commentaires_mention_user_id_fkey" FOREIGN KEY ("mention_user_id") REFERENCES "utilisateurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "likes_sujets" ADD CONSTRAINT "likes_sujets_sujetId_fkey" FOREIGN KEY ("sujetId") REFERENCES "sujets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "likes_sujets" ADD CONSTRAINT "likes_sujets_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "likes_commentaires" ADD CONSTRAINT "likes_commentaires_commentaire_id_fkey" FOREIGN KEY ("commentaire_id") REFERENCES "commentaires"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "likes_commentaires" ADD CONSTRAINT "likes_commentaires_utilisateur_id_fkey" FOREIGN KEY ("utilisateur_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "signalements_sujets" ADD CONSTRAINT "signalements_sujets_sujetId_fkey" FOREIGN KEY ("sujetId") REFERENCES "sujets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "signalements_sujets" ADD CONSTRAINT "signalements_sujets_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "signalements_commentaires" ADD CONSTRAINT "signalements_commentaires_commentaire_id_fkey" FOREIGN KEY ("commentaire_id") REFERENCES "commentaires"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "signalements_commentaires" ADD CONSTRAINT "signalements_commentaires_utilisateur_id_fkey" FOREIGN KEY ("utilisateur_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_destinataire_id_fkey" FOREIGN KEY ("destinataire_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "creneaux_disponibilite" ADD CONSTRAINT "creneaux_disponibilite_formateur_id_fkey" FOREIGN KEY ("formateur_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "rendez_vous" ADD CONSTRAINT "rendez_vous_candidat_id_fkey" FOREIGN KEY ("candidat_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "rendez_vous" ADD CONSTRAINT "rendez_vous_formateur_id_fkey" FOREIGN KEY ("formateur_id") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "rendez_vous" ADD CONSTRAINT "rendez_vous_creneau_id_fkey" FOREIGN KEY ("creneau_id") REFERENCES "creneaux_disponibilite"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_UtilisateurRoles" ADD CONSTRAINT "_UtilisateurRoles_A_fkey" FOREIGN KEY ("A") REFERENCES "roles"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_UtilisateurRoles" ADD CONSTRAINT "_UtilisateurRoles_B_fkey" FOREIGN KEY ("B") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

