# CONFIGURATION SERVEUR
PORT=3000
NODE_ENV=production

# ACCÈS BASE DE DONNÉES POSTGRESQL
DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/coaching_platform_db?schema=public"

# SÉCURITÉ AUTHENTIFICATION JWT
JWT_SECRET="EthicalData_Super_Secret_JWT_Key_2026_Production_Secure"
JWT_EXPIRES_IN="7d"

# SÉCURITÉ CORS & FRONTEND
FRONTEND_URL="http://localhost:3001"

# COMPTES ADMINISTRATIFS PAR DÉFAUT (SEED)
ADMIN_DEFAULT_EMAIL="admin@ethicaldata.local"
ADMIN_DEFAULT_PASSWORD="admin_password_secure_2026"